@import 'variables';

.navbar {
    background-color: $navbar-bg;
    --bs-navbar-padding-x: 4rem;
    --bs-navbar-padding-y: 0;
}

.navbar-burger {
    margin-top: 0.5rem;
    color: $white !important;
}

.navbar .is-active {
    background-color: $navbar-bg;
    box-shadow: none;
    margin-bottom: 1.5rem;
}

.navbar .is-active .navbar-item {
    margin-bottom: 1rem;
}

.navbar-item, 
.navbar-item a {
    font-family: 'love_and_sunshine';
    font-size: 22px;
    color: $white;
    text-decoration: none;
}

.navbar-item:hover, 
.navbar-item a:hover {
    color: $secondary;
    transition: ease 0.3s;
}

.logo-brand {
    max-height: none !important;
    width: 150px;
}

.navbar-search {
    background-color: $search-bg;
    min-height: 40px;
}

.search-input {
    border-radius: 15px !important;
}

.btn-animal {
    background-color: $white;
    color: $primary;
    border-radius: 25px;
    margin-right: 1rem;
    padding-inline: 1rem;
    height: 30px;
}

.btn-animal img {
    height: 25px;
    margin-right: 6px;
}

.btn-animal:hover {
    color: $secondary !important;
    transition: ease 0.3s;
}

#animalsViewBtn {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 120px;
    padding: 0.5rem;
    border-radius: 30px;
}

#animalsViewBtn p {
    margin-bottom: 0.3rem;
}

#animalsViewBtn p:first-child {
    font: bold 26px 'love_and_sunshine';
    color: $white;
}

#animalsViewBtn p:last-child {
    font-size: 14px;
    color: $gray-light;
    text-decoration: underline;
}

@media (max-width: 1024px) {
    .btn-animal {
        display: none;
    }
}

@media (min-width: 1024px) {
    #navbar-cart-text {
        display: none;
    }
    #animalsViewBtn {
        display: none;
    }
}