// * Typography
// Custom font
@font-face {
    font-family: 'love_and_sunshine';
    src: url('../fonts/love__sunshine_-_ttf.woff2') format('woff2'),
        url('../fonts/love__sunshine_-_ttf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
